/* CSS DOCUMENT */
h1{
    color: rgb(0,102,102);
    font-size: 3em;
    font-family: sans-serif;
    font: Futura;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    background-color: rgb(247,244,236);
    text-align:center;
}
h2{
    text-align:center;
    font-family: sans-serif;
    font: Futura;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .75em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: oblique;
}
h3{
    text-align:center;
    font-family: sans-serif;
    font: Futura;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: rgb(0,102,102);
}
h4{
    text-align:center;
    font-family: sans-serif;
    font: Futura;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .8em;
}
p{
    text-align: center;
    padding: 0;
    font: Futura;
    font-weight: normal;
}
body{
    background-color: rgb(247,244,236);
    text-align:center;
}
ul{
    text-align: center;
    padding: 0;
    align-self: center; 
}
li{
    list-style: none;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    align-self: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-family: sans-serif;
    font: Futura;
    font-weight: lighter;
    font-size: 0.6em;
}
