/*CSS document*/

div.container {
    max-width: 40em;
    margin: auto;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    margin: 1em 0em 0em 0em
}

ul {
    list-style-type: none;
    padding: 0;
}

    h2 {
        color: #F4802B;
        font-family: Roboto, sans-serif;
        text-transform: uppercase;
        font-weight: 450;
        font-style: normal;
        margin: 1em 0em .5em 0em;
        letter-spacing: 0.1em;
}

h3 {
    color: #F4802B;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1em;
    margin: .5em 0em 0em 0em;
}

p {
    color:rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: small;
    margin: 0em 0em 1em 0em;
}

nav ul {
    padding:0;
}
nav ul li{
    display: inline;
    list-style-type: none;
    margin-right: 1em;
    font-family: roboto, sans-serif;
    font-size: .75em;
    font-weight: 450;
    text-transform: uppercase;
}

nav ul li a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
nav ul li a:hover {
    color: #F4802B;
}

section a{
text-decoration: none;
}

figcaption{
    color:rgb(0, 0, 0);
    font-family: roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: .75em;
    font-style: oblique;
    margin: 0em 0em 1em 0em;
}